@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    unselectable: on;
}

:root[light-theme] {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #e6e9ef;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --shadow-color: #b8babd;
    --highlight-color: #ffffff;
    --navbar-bg-color: rgba(230, 233, 239, 50%);
    --navbar-border-color: rgba(213, 217, 225, 60%);
}
:root[dark-theme] {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --shadow-color: #101017;
    --highlight-color: #2b2b41;
    --navbar-bg-color: rgba(24, 24, 37, 50%);
    --navbar-border-color: rgba(40, 40, 62, 60%);
}

:focus {
    outline: none !important;
}

body {
    background-color: var(--base);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

hr {
    border-color: var(--navbar-border-color);
    transition: all 0.3s;
    padding-bottom: 10px;
}

footer {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    backdrop-filter: blur(15px);
    color: var(--text);
    background-color: var(--navbar-bg-color);
    border-top: 1px solid var(--navbar-border-color);
}

footer span {
    font-size: 14px;
    margin-bottom: 1px;
}

.footer-top {
    padding-top: 8em;
}

.rosewater-color {
    color: var(--rosewater);
}
.flamingo-color {
    color: var(--flamingo);
}
.pink-color {
    color: var(--pink);
}
.mauve-color {
    color: var(--mauve);
}
.red-color {
    color: var(--red);
}
.maroon-color {
    color: var(--maroon);
}
.peach-color {
    color: var(--peach);
}
.yellow-color {
    color: var(--yellow);
}
.green-color {
    color: var(--green);
}
.teal-color {
    color: var(--teal);
}
.sky-color {
    color: var(--sky);
}
.sapphire-color {
    color: var(--sapphire);
}
.blue-color {
    color: var(--blue);
}
.lavender-color {
    color: var(--lavender);
}
.text-color {
    color: var(--text);
}
.subtext1-color {
    color: var(--subtext1);
}
.subtext0-color {
    color: var(--subtext0);
}

.navbar {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    backdrop-filter: blur(15px);
    color: var(--text);
    background-color: var(--navbar-bg-color);
	display: flex;
    border-bottom: 1px solid var(--navbar-border-color);
}

.navbar a {
    text-decoration: none;
    color: var(--text);
}

.navbar a:active {
    color: var(--subtext1);
}

.navbar-brand {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}
.navbar-brand:hover {
    transform: translateY(-3px);
}

.navbar-brand:active {
    transform: translateY(3px);
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: 7px 7px 15px var(--shadow-color), -7px -7px 15px var(--highlight-color);
}

.card-neumorphism {
    border-radius: 15px;
    border: 0px;
    background: var(--base);
    box-shadow: 7px 7px 15px var(--shadow-color), -7px -7px 15px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s, color 0.3s;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.theme-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--base);
    box-shadow: 7px 7px 15px var(--shadow-color), -7px -7px 15px var(--highlight-color);
    cursor: pointer;
    transition: all 0.3s;
}

.theme-toggle-btn:hover {
    transform: translateY(-3px);
}

.theme-toggle-btn:active {
    transform: translateY(3px);
    box-shadow: inset 7px 7px 15px var(--shadow-color), inset -7px -7px 15px var(--highlight-color);
}

.theme-toggle-btn i {
    color: var(--lavender); /* Ganti dengan warna neon yang diinginkan */
    font-size: 1.2rem;
    transition: color 0.3s;
}

.theme-toggle-btn:active i {
    color: var(--lavender);
}

.icon-text-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
    color: var(--subtext1);
    background-color: var(--base);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s, color 0.3s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.icon-text-btn:hover {
    transform: translateY(-3px);
    text-decoration: none;
    color: var(--subtext1);
    box-shadow: 7px 7px 20px var(--shadow-color), -7px -7px 20px var(--highlight-color);
}

.icon-text-btn:active {
    transform: translateY(1px);
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.icon-text-btn i {
    font-size: 1.2rem;
    vertical-align: middle;
    color: var(--sky);
}

.underline-nav .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 15px;
    color: var(--teal);
    transition: all 0.3s;
}

.nav-tabs {
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
}

.underline-nav .nav-link:hover {
    backdrop-filter: blur(50px);
}

.underline-nav .nav-link:focus,
.underline-nav .nav-link.active {
    border-color: var(--green);
    color: var(--green);
    background: transparent;
    transition: all 0.3s;
}

.footer-link {
    font-size: 12px;
    font-weight: 290;
    transition: all 0.3s;
}

.footer-link .link {
    color: var(--subtext0);
}

.footer-link .link:hover,
.footer-link .link:active {
    color: var(--sapphire) !important;
    text-decoration: none;
}